- content_for :body_class, "layout-boxed"

- content_for :render_partial_sidebar do
  = render partial: "layouts/shared/sidebar/people"

%h1.text-light Cash Wallet

.row
  .col-lg-4
    .panel.bg-success-800
      .panel-body
        %h3.no-margin= number_to_currency(current_person.cash_wallet.success, unit: "RM", separator: ".", delimiter: ",", format: "%u %n")
        Total spendable cash

  .col-lg-4
    .panel.bg-warning-800
      .panel-body
        %h3.no-margin= number_to_currency(current_person.cash_wallet.pending_debit, unit: "RM", separator: ".", delimiter: ",", format: "%u %n")
        Total pending debit cash

  .col-lg-4
    .panel.bg-warning-800
      .panel-body
        %h3.no-margin= number_to_currency(current_person.cash_wallet.pending_credit, unit: "RM", separator: ".", delimiter: ",", format: "%u %n")
        Total pending credit cash


.panel.panel-default
  .panel-heading
    %h6.panel-title Cash Transaction
    .heading-elements
      %span.label.bg-success.heading-text
        = current_person.cash_wallet.transactions.where(status: "success").count
        success
      %span.label.bg-warning.heading-text
        = current_person.cash_wallet.transactions.where(status: "pending").count
        pending
      %span.label.bg-warning.heading-text
        = current_person.cash_wallet.transactions.where(status: "request").count
        request
      %span.label.bg-danger.heading-text
        = current_person.cash_wallet.transactions.where(status: "cancel").count
        cancel
      %ul.icons-list
        %li
          = link_to "" do
            %i.icon-sync

  .table-responsive
    %table.table.text-nowrap
      %thead
        %tr
          %th Description
          %th.col-md-2 Reference No.
          %th.col-md-2 Debit
          %th.col-md-2 Credit
          %th.col-md-2 Status

      %tbody
        - current_person.cash_wallet.transactions.each do |transaction|
          %tr
            %td
              .text-default.text-semibold= transaction.description
              .text-muted.text-size-small= transaction.updated_at
            %td
              %span.text-muted= transaction.ref_no
            %td
              - if transaction.debit.present?
                %h6.text-semibold.text-success-600= number_to_currency(transaction.debit, unit: "RM", separator: ".", delimiter: ",", format: "%u %n")
              - else
                %h6.text-semibold.text-success-600
                  \-
            %td
              - if transaction.credit.present?
                %h6.text-semibold.text-danger-600= number_to_currency(transaction.credit, unit: "RM", separator: ".", delimiter: ",", format: "%u %n")
              - else
                %h6.text-semibold.text-danger-600
                  \-
            %td
              - if transaction.status == "success"
                %span.label.bg-success= transaction.status
              - if transaction.status == "pending"
                %span.label.bg-warning= transaction.status
              - if transaction.status == "request"
                %span.label.bg-warning= transaction.status
              - if transaction.status == "cancel"
                %span.label.bg-danger= transaction.status
