- content_for :body_class, "layout-boxed"

- content_for :render_partial_sidebar do
  = render partial: "layouts/shared/sidebar/people"

- if @conversations.present?
  .col-lg-4
    .panel.panel-flat
      .panel-heading
        %h6.panel-title Merchant Contacts
        .heading-elements
          %span.badge.badge-success.heading-text= "Total: #{@conversations.count}"

      %ul.media-list.media-list-linked.pb-5

        - @conversations.each do |conversation|
          %li.media
            %a.media-link{:href => "/people/#{current_person.id}/conversations/#{conversation.id}"}
              .media-left
                - if conversation.business.logo.present?
                  = image_tag conversation.business.logo, class: "img-circle"
                - else
                  = image_tag "default_business_logo.png", class: "img-circle"
              .media-body
                %span.media-heading.text-semibold= conversation.business.name
                %span.media-annotation= conversation.business.certificate_id
              .media-right.media-middle
                - if conversation.business_response == true
                  %span.status-mark.bg-success
                - else
                  %span.status-mark.bg-grey


  .col-lg-8
    %h3.text-light.text-center= "Messaging go here!"



- else
  %h6.text-light= "No contact and conversations recorded."
