- content_for :body_class, "layout-boxed"

- content_for :render_partial_sidebar do
  = render partial: "layouts/shared/sidebar/people"

%h1.text-light List of Friends

-if @friends.present?
  .row
    %h3.text-light Level 1
    - @friends.each do |person|
      .col-lg-2
        .thumbnail
          .thumb
            - if person.avatar.present?
              = image_tag person.avatar
            - else
              = image_tag "default_person_avatar.png"
            .caption-overflow
              %span
                - if current_person.friendships.find_by_friend_id(person).present?
                  = button_to person_friendship_path(current_person, person), :method => :delete, class: "btn btn-flat border-white text-white btn-rounded btn-icon" do
                    %i.icon-minus2
                - else
                  = button_to person_friendships_path(current_person, :friend_id => person), :method => :post, class: "btn btn-flat border-white text-white btn-rounded btn-icon" do
                    %i.icon-plus2
          .caption.text-center
            .text-light.no-margin
              = person.first_name

    .col-md-12
      .panel.panel-body.border-top-teal.text-center
        = will_paginate(@people)
